<div class="topbar">
    <div class="hamburger" (click)="toggleMenu($event)">☰</div>
    <h1 class="title">Cart</h1>

    <div class="top-actions">
        <button class="top-btn">⚠ Low Stock</button>
    </div>
</div>

<div class="layout-row">

    <div class="sidebar" [class.open]="isMenuOpen" (click)="$event.stopPropagation()">
        <div class="sidebar-inner">
            <p class="welcome">Hi, {{ userName }}</p>

            <div class="menu-buttons">
                <button routerLink="/dashboard">Categories</button>
                <button routerLink="/purchase">Purchase</button>
                <button>Sale</button>
                <button>Stock</button>
            </div>

            <button class="logout-btn">🚪 Logout</button>
        </div>
    </div>

    <div class="main-wrapper" (click)="closeMenu()">
        <div class="main-content center-content">

            <div class="purchase-card" *ngFor="let c of cart">
                <img [src]="c.image" class="product-img" />
                <p><strong>{{ c.name }}</strong></p>
                <p>Total Quantity: {{ c.totalQty }}</p>
                <p>Total Price: ₹ {{ c.totalPrice }}</p>
            </div>

        </div>
    </div>
</div>