.form-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-container button {
  width: 100%;
  padding: 12px;
  margin-top:12px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.form-container button:hover {
  background: #555;
}

.form-container p {
  margin-top: 15px;
}

